body{
	background-color: rgb(241, 242, 246);
	color: blue;
}
#title{
	text-align: center;
}
#game{
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    border-radius: 6px;
    border-color: rgb(241, 242, 246);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width:458px;
    max-height:458px;
}
.case{
	background-color: #f1c40f;
	max-width:150px;
	max-height:150px;
}
